* {
    box-sizing: border-box;
}

body {

    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}

.title {

    background-color: lightblue;
    color: white;
    padding: 20px 100px;
    text-align: center;
}
.imgs {

    text-align: center;
    display: flex;
}

.left {
flex: 33.3%;
}

.middle {
    flex: 33.3%;
}

.right {
    flex: 33.3%;

}

a:hover {
    background-color: red;
    
}
/*
.gnocchi {
float: left;
padding:0 auto;
}
.cake-carrot {
float: left;
padding-left: 30px;
}
.brownies {
    float: left;
    padding-left: 30px;
}*/

figcaption {

    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
